table.mutable {
    %background-color: #fff;
    color: #444;
    width: 100%;
}

table.mutable thead td,
table.mutable thead th {
	border: none;
}

table.mutable tbody tr:hover {
    background-color: #eee;
    outline : 1px solid #ccc;
}

table.mutable tbody tr td:not(.toolbox):hover {
    background-color: #fff;
}

table.mutable tbody tr:nth-child(odd) {
	background: #ffc;
}

table.mutable tbody tr:nth-child(even) {
	background: #ffe;
}

table.mutable tbody td:select {
    color: #fff;
}

table.mutable tbody tr.selected-row {
	background: #ff8;
}

table.mutable .toolbox {
	background: transparent;
	border: none ;
}

table.mutable thead .toolbox:first-child ,
table.mutable tbody .toolbox:first-child {
	text-align: right;
}

table.mutable tbody .toolbox:last-child {
	text-align: left;
}

table.mutable tfoot .toolbox {
	text-align: center ;
}

table.mutable td {
    padding:2px;
}

table.mutable td.select {
	color: #eee;
	padding-left: 6px;
	min-width: 8px;
	min-height: 8px;
	cursor: pointer ;
}

table.mutable .add {
	color: #888;
	background: #fff;
	padding-left: 6px;
	min-width: 8px;
	min-height: 8px;
	cursor: pointer ;
}

table.mutable .add a {
	padding: 2px;
}

table.mutable .add a:hover {
	color: #fff;
	background: #181;
}

table.mutable .edit,
table.mutable .pagination a {
	color: #888;
	background: #fff;
	padding-left: 6px;
	min-width: 8px;
	min-height: 8px;
	cursor: pointer ;
}

table.mutable .edit a ,
table.mutable .pagination a {
	padding: 2px;
	margin-left: 10px;
}

table.mutable .pagination a {
	margin-right: 10px;
}

table.mutable .edit a ,
table.mutable .delete a {
	color: #888;
}

table.mutable .edit a:hover,
table.mutable .pagination a:hover {
	color: #fff;
	background: #888;
}

table.mutable .delete {
	color: #888;
	background: #fff;
	padding-left: 6px;
	min-width: 8px;
	min-height: 8px;
	cursor: pointer ;
}

table.mutable .delete a {
	padding: 2px;
}

table.mutable .delete a:hover {
	color: #fff;
	background: #a22;
}

table.mutable input {
	border: 1px solid #eee;
	border-bottom: 1px solid #aaa;
	margin: 0px;
}